<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleViewDBEntities" 
         connectionString="metadata=res://*/ScheduleViewDataModel.csdl|
                                    res://*/ScheduleViewDataModel.ssdl|
                                    res://*/ScheduleViewDataModel.msl;
                                    provider=System.Data.SqlClient;
                                    provider connection string=&quot;data source=.;
                                          attachdbfilename=|DataDirectory|\ScheduleViewDB.mdf;
                                          integrated security=True;
                                          User Instance=True;
                                          multipleactiveresultsets=True;App=EntityFramework&quot;" 
          providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>