<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleViewDBEntities"
         connectionString="metadata=res://*/ScheduleViewDataModel.csdl|
                                    res://*/ScheduleViewDataModel.ssdl|
                                    res://*/ScheduleViewDataModel.msl;
                                    provider=System.Data.SqlClient;
                                    provider connection string=&quot;Data Source=(localdb)\mssqllocaldb;
                                    AttachDbFilename=|DataDirectory|\ScheduleViewDB.mdf;
                                    Integrated Security=True;
                                    multipleactiveresultsets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>